<div class="full-height with-footer" id="messages"></div>


<% content_for :sticky_footer do %>
  <%= form_for Message.new, remote: true do |f| %>
    <div class="row">
      <div class="columns form-submit-container">
        <%= f.submit "Send", id: "message_submit", class: "button" %>
      </div>
      <div class="columns form-input-container">
        <%= f.text_field :content, id: "message_content" %>
      </div>
    </div>
  <% end %>
<% end %>


<script id="message-template" type="text/x-handlebars-template">
  <div class="message-row">
    <div class="message-left">
      <div class="message-user">{{username}}:</div>
      <div class="message-date">{{dateFormat created_at}} {{timeFormat created_at}}</div>
    </div>
    <div class="message-content">{{content}}</div>
    <div class="clear"></div>
  </div>
</script>
