ul {
  list-style-type: none;
}

html, body {
  color: #333333;
  font-family: 'Open Sans', Futura, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#container {
}

.devise-row {
  margin-bottom: 0.875em;
}