$darkGrey: #333333;
$mediumGrey: #999999;
$lightGrey: #cccccc;
$extraLightGrey: #dddddd;


html, body {
  color: $darkGrey;
  font-family: 'Open Sans', Futura, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.clear {
  clear: both;
}

#container {
}

#connection-status {
  background-color: #666666;
  height: 100%;
  padding-top: 45px;
  width: 15px;
}
#connection-status.good {
  background-color: #00dd00;
}
#connection-status.bad {
  background-color: #dd0000;
}

.devise-row {
  margin-bottom: 0.875em;
}

.full-height {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: auto;

  &.with-footer {
    margin-bottom: 3.5em;
  }
}

.sticky-footer {
  bottom: 0px;
  height: 3.5em;
  left: 0px;
  position: fixed;
  right: 0px;
}


#messages {
  border: 1px solid $mediumGrey;
  font-size: 0.9em;
  overflow-x: hidden;

  .message-row {
    border-top: 1px solid $extraLightGrey;
    border-bottom: 1px solid $lightGrey;
    line-height: 1.2em;

    .message-left {
      background-color: #f3f3f3;
      float: left;
      padding: 5px;
      width: 10em;

      .message-user {
      }
      .message-date {
        color: $mediumGrey;
        font-style: italic;
        font-size: 0.75em;
      }
    }
    .message-content {
      float: left;
      margin-right: -10em;
      padding: 5px;
      width: 100%;
    }
  }
}

.row .columns .form-input-container,
.form-input-container {
  float: none;
  margin-right: 105px;
  padding-right: 0;
  position: relative;
  width: inherit;
}
.row .columns .form-submit-container,
.form-submit-container {
  float: right;
  padding-left: 0;
  width: 105px;
}


#message_content {
  font-size: 1.125em;
  height: 2.375em;
}
